body {
  color: #505050;

  table,
  th,
  td {
    border: 1px solid #bebebe;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 6px 12px;
    vertical-align: initial;
    &:first-child {
      text-align: center;
    }
  }
}