body {
  color: #505050;

  table,
  th,
  td {
    border: 1px solid #bebebe;
    border-collapse: collapse;
    height: max-content;
  }

  th,
  td {
    padding: 5px 10px;
    vertical-align: initial;
    &:first-child {
      text-align: center;
    }
  }

  button:focus {
    outline: none;
  }
}